<h1>All Users</h1>

<style>
	.show-users {
		display: flex;
		flex-wrap: wrap;
	}

	.show-users > div {
		margin: 12px;
	}

</style>
<div class="show-users">
	<% @users.each do |user| %>
		<%= render 'user_card', user: user %>
	<% end %>
</div>
