<% random_tweet %>

<div class="content-container">
	<div class="main-container">
		<div class="main-inner-container">
			<div class="tweet-box">
				<%= render 'tweets/form', tweet: @tweet %>
			</div>

			<div>
			    <% @following_tweets.each do |tweet| %>
			    	<% unless tweet.retweet.nil? %>
			    		<% retweet_user = tweet.user %>
			    		<% tweet = Tweet.find(tweet.retweet) %>
					<% end %>
			    	<%= render 'layouts/tweet_card', tweet: tweet, retweet_user: retweet_user %>
			    <% end %>
			</div>			
		</div>
	</div>

	<div class="dashboard-container">
		<div class="dashboard-left">
			<%= render 'user_card', user: current_user %>
		</div>
		
		<div class="dashboard-right">
			<%= render 'who_to_follow' %>
		</div>
	</div>
</div>