<h1>@<%= current_user.username %>'s Twitter Feed</h1>
<p>Here is what your "friends" are saying:</p>


<div>
    <% @following_tweets.each do |tweet| %>
    	<%= render 'layouts/tweet_card', tweet: tweet %>
    <% end %>
</div>