// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tweet-container {
  background-color: white;
  padding: 12px;
  margin-bottom: 1px;
}

.tweet-content {
  margin-left: 58px;
}

.tweet-container .profile-pic {
  position: absolute;
  margin-left: -58px;
  margin-top: -6px;
}

.check {
  position: relative;
  top: -3px;
  font-size: 8px;
}

.tweet-input {
  width: 380px;
  margin: 0 24px;
  padding: 6px 10px;
  border-radius: 8px;
  border: 2px solid #1da1f2;
}

textarea, select, input, button { outline: none; }